.header-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  margin: 20px 0;    
}

.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 100%;
  gap: 20%;
}
.title-group {
  width: 40%;
}
.used-group {
  width: 30%;
}

.form-label {
  padding-right: 5%;    
  font-weight: bold;
  flex: none; /* label의 크기를 고정하지 않음 */  
}

.sub-label {
  margin-bottom: 5px;
  color: #666;
  font-size: 14px;
  display: inline-block;
}
.row-group {
  display: flex;
  flex-direction: row;    
}
.column-group {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.form-dropdown {  
  width: calc(100% - 2%); /* 동일한 간격을 유지하도록 설정 */
  margin: 1%; /* 간격 조정 */
  padding: 10px;    
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-radio {
  margin-left: 10px;
  font-weight: normal;
}

.form-text {
  margin-left: auto;
  font-weight: bold;
}

.tag-section {
  display: flex;
  flex-wrap: wrap;    
  width: 100%;
}

.dropdown-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1%; /* 간격 조정 */
  align-content: stretch;
}

.dropdown-label {
  margin-right: 5px; /* 간격 조정 */  
  font-weight: bold;
}
#mbti-you {
  width: 150px;
}
#hobby {
  width: calc(100% - 2%);
}

.button-add {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;  
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}
.depth-group, .file-group {
  padding-left: 7%;
}
#file-label {
  padding-top: 2%;  
}
.file-input {  
  padding-top: 2%;  
}
#image-input {
  max-width: 95%;
}